/* 
depos tu apaga aq rsrs

fundo cinza
botões sombreados
quando passa o mouse por cima ele fica um verde mais claro (botão)
*/

* {
  box-sizing: border-box;
}

p {
  font-family: 'oswald', sans-serif;
  font-weight: 300;
  color: white;
}

input[type=text], input[type=number], select, textarea {
  font-family: 'oswald', sans-serif;
  font-weight: 300;
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;  
  border-radius: 4px;
  box-shadow: 2px 2px 5px #707070; 
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  font-family: 'oswald', sans-serif;
  font-weight: 300;
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 18%;
  box-shadow: 2px 2px 5px #707070; 
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  color: gray;
  background-color: #60e167;
}

.container {
  border-radius: 5px;
  background-color: gray;
  padding: 100px 250px 100px 250px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.col-100 {
  width: 100%;
  margin-top: 6px;
}

.start {
  width: 100%;
  margin-boton: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


@media screen and (max-width: 900px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }

  .container {
    border-radius: 5px;
    background-color: #b3b3b3;
    padding: 10px;
  }
}